<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" /> --}}

  <title>{{@site.title}}{{#if meta_title}} | {{meta_title}}{{/if}}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">

  {{ghost_head}}

  <link rel="icon" type="image/x-icon" href="{{asset "images/favicon.ico"}}"/>
  <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}"/>
</head>
<body{{#if body_class}} class="{{body_class}}"{{/if}}>
<div class="gh-viewport">
  {{!-- <header></header> --}}
  {{> "sidebar"}}

  <div id="content">
      <main class="main" role="main">
        {{{body}}}
      </main>
  </div>
  <div class="cf"></div>

  {{!-- <footer></footer> --}}
</div> <!-- /viewport -->

<script type="text/javascript" src="{{asset "built/jquery-3.4.1.min.js"}}"></script>
<script type="text/javascript">
  var images = document.querySelectorAll('.kg-gallery-image img');
  images.forEach(function (image) {
      var container = image.closest('.kg-gallery-image');
      var width = image.attributes.width.value;
      var height = image.attributes.height.value;
      var ratio = width / height;
      container.style.flex = ratio + ' 1 0%';
  });
</script>

{{{block "script"}}}

{{ghost_foot}}

</body>
</html>
