<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" /> --}}

  <title>{{meta_title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">

  {{ghost_head}}

  <!-- Facebook App ID -->
  <meta property="fb:app_id" content="561872837296941">

  <!-- Twitter Large Image Summary Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Vyder">
  <meta name="twitter:creator" content="@Vyder">
  <meta name="twitter:title" content="{{meta_title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="">

  <link rel="icon" type="image/x-icon" href="{{asset "images/favicon.ico"}}"/>
  <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}"/>
</head>
<body class="{{body_class}}">
<div class="gh-viewport">
  {{!-- <header></header> --}}
  {{> "sidebar"}}

  {{!-- <main></main> --}}
  {{!-- <footer></footer> --}}
</div> <!-- /viewport -->

<script src="{{asset "built/jquery-3.4.1.min.js"}}"></script>
<script type="text/javascript">
  // TODO
</script>

{{ghost_foot}}

</body>
</html>
