{{!< default}}

{{#post}}
<hr class="topbar-divider">

<h1>{{title}}</h1>

<ul class="meta cf">
  <li>
    <time class="post" datetime="{{date published_at format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">
        {{date published_at format="Do MMMM, YYYY"}}
    </time>
  </li>
</ul>

<div class="text">
  {{content}}
</div>

<nav class="nextprev cf" role="navigation">
    {{#prev_post in="primary_tag"}}
    {{log this}}
    <a class="prev" href="{{url}}">&larr; previous</a>
    {{/prev_post}}

    {{#next_post in="primary_tag"}}
    <a class="next" href="{{url}}">next &rarr;</a>
    {{/next_post}}
</nav>

{{#contentFor "script"}}
<script type="text/javascript">
    $(document).ready(function() {

        // Find all footnotes
        const $footnotes = $("ol:last > li");
        const $refs      = $("sup > a");

        $footnotes.each(function(i, footnote) {
            const num = (i + 1);

            const $ref  = $($refs[i]);
            const $note = $(footnote);

            // Setup the reference
            $ref.html("[" + num + "]");
            $ref.attr('href', "#fn:" + num);
            $ref.parent().attr('id', "fnref:" + num);

            // Setup the footnote
            const $backLink = ($note.find("a:last"));

            $note.attr('id', "fn:" + num);
            $note.attr('role', "doc-endnote");

            $backLink.attr('href', "#fnref:" + num);
            $backLink.attr('role', "doc-backlink");
        });
    });
</script>
{{/contentFor}}
{{/post}}
