{{!< default}}

{{#tag}}
<hr class="topbar-divider">
  <h2>{{meta_title}}</h2>
  <p class="breaks">{{description}}</p>
<hr class="latest-posts">
{{/tag}}

<ul class="teaser cf">
  {{#each posts}}
  <li class="article">
    <h3><a href="{{url}}">{{title}}</a><small>
            <time class="index" datetime="{{date published_at format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">
                {{date published_at format="MMM YYYY"}}
            </time>
        </small></h3>
        <p class="breaks">{{excerpt}}</p>
        <a href="{{url}}" class="read-more">read more →</a>
  </li>
  {{/each}}
</ul>